# Ignore output and hypothesis_testing folders (too large)
Entity_Binding/hypothesis_testing/hypothesis_testing
Entity_Binding/hypothesis_testing/outputs
Pretrain_models/test_results
Pretrain_models/result_op2
Pretrain_models/result_op1
